<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}
        {% endblock title %} Page</title>

    {% block Cstyle %}
    {% endblock Cstyle %}
    <link rel="stylesheet" href="/static/app_css/base.css">
</head>
<body>
    <nav>
        <div class="navTitle">
            <h1>Vision Canvas</h1>
            <hr>
        </div> 
    </nav>

    {% block content %}
    {% endblock content %}

    {% block Jscript %}
    {% endblock Jscript %}
</body>
</html>