<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}
        {% endblock title %} Page</title>

    {% block Cstyle %}
    {% endblock Cstyle %}
    <link rel="stylesheet" href="/static/app_css/base.css">
</head>

<body>
    <nav>
        <div class="appLogo">
            <img src="/static/images/VisionCanvasLogo2.png" alt="LOGO">
        </div>
        <div class="appTitle">
            <div class="T1">
                Vision-Canvas
            </div>
            <div class="T2">
                Hand Traking & Drawing
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock content %}

    {% block Jscript %}
    {% endblock Jscript %}
</body>

</html>